automations/media.json
[{"id":"30e97a35.0a0ad6","type":"tab","label":"Media","disabled":false,"info":"Playlists for Hue Switch Dimmer on Childrenroom"},{"id":"e5bec8e7.15648","type":"server-events","z":"30e97a35.0a0ad6","name":"Schalter","event_type":"deconz_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":120,"y":180,"wires":[["8fd7d7f3.1b9558"]]},{"id":"cd2db053.e86c2","type":"switch","z":"30e97a35.0a0ad6","name":"Bedienung: Kinderzimmer","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"1003","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"4003","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":630,"y":180,"wires":[["7255d621.e1b318"],["aa0d5ec9.f3d1c8"],["607934a6.73b93c"],["e92aa78a.c37a6"],["a6f2dcea.956b88"],["ea275689.304ad"],["8b10cc93.2e862"],["ad2aa98c.70d48"]]},{"id":"8fd7d7f3.1b9558","type":"switch","z":"30e97a35.0a0ad6","name":"Schalter: Kinderzimmer","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"musik","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":180,"wires":[["cd2db053.e86c2"]]},{"id":"7255d621.e1b318","type":"api-call-service","z":"30e97a35.0a0ad6","name":"Select Next Playlist","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_next","entityId":"input_select.playlist","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":60,"wires":[[]]},{"id":"fcbfca4a.3b2408","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":900,"wires":[["a52bb808.f05f08"]]},{"id":"57b89432.212abc","type":"comment","z":"30e97a35.0a0ad6","name":"Hue Dimmer Switch - Kinderzimmer","info":"","x":200,"y":40,"wires":[]},{"id":"977f56b6.9cc148","type":"comment","z":"30e97a35.0a0ad6","name":"Playlists - SONOS Kinderzimmer","info":"","x":190,"y":780,"wires":[]},{"id":"81a61678.4fe72","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Playlist 2","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Playlist 2"},{"property":"icon","value":""}],"entityid":"input_select.playlist","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"24fcnuzta9o","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playlist2"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":900,"wires":[["fcbfca4a.3b2408"],[]]},{"id":"e1fbfd4f.8486e","type":"http request","z":"30e97a35.0a0ad6","name":"Petronella: Verhext und festgeklebt","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/playlist/Petronella: Verhext und festgeklebt","tls":"","persist":false,"proxy":"","authType":"","x":860,"y":960,"wires":[[]]},{"id":"d86c2aa9.b74c28","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":960,"wires":[["e1fbfd4f.8486e"]]},{"id":"5f3e3f3f.554f88","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":960,"wires":[["d86c2aa9.b74c28"]]},{"id":"dceb6dcb.1c36","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Playlist 3","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Playlist 3"},{"property":"icon","value":""}],"entityid":"input_select.playlist","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"wyg47hibj","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playlist3"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":960,"wires":[["5f3e3f3f.554f88"],[]]},{"id":"de566c5c.4de44","type":"http request","z":"30e97a35.0a0ad6","name":"Petronella: Zauberschlaf und Knallfroschchaos 2","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/playlist/Petronella: Zauberschlaf und Knallfroschchaos 2","tls":"","persist":false,"proxy":"","authType":"","x":900,"y":1020,"wires":[[]]},{"id":"20e6bdf9.fe41ca","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1020,"wires":[["de566c5c.4de44"]]},{"id":"15d562a8.dfcbed","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1020,"wires":[["20e6bdf9.fe41ca"]]},{"id":"efefa0cf.070f88","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Playlist 4","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Playlist 4"},{"property":"icon","value":""}],"entityid":"input_select.playlist","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ebxync5sqwb","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playlist4"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":1020,"wires":[["15d562a8.dfcbed"],[]]},{"id":"ecb6b7a1.87f41","type":"http request","z":"30e97a35.0a0ad6","name":"Petronella: Überraschungsfest für Lucius","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/playlist/Petronella: Überraschungsfest für Lucius","tls":"","persist":false,"proxy":"","authType":"","x":880,"y":1080,"wires":[[]]},{"id":"9fc3b3b6.a1465","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1080,"wires":[["ecb6b7a1.87f41"]]},{"id":"a15e5597.090d7","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1080,"wires":[["9fc3b3b6.a1465"]]},{"id":"e57278f2.2dcc4","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Playlist 5","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Playlist 5"},{"property":"icon","value":""}],"entityid":"input_select.playlist","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"xanugoa4urm","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playlist5"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":1080,"wires":[["a15e5597.090d7"],[]]},{"id":"1336f99f.17a586","type":"http request","z":"30e97a35.0a0ad6","name":"Petronella: Verhext und festgeklebt 2","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/playlist/Petronella: Verhext und festgeklebt 2","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":1140,"wires":[[]]},{"id":"aebe49b7.a0a718","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1140,"wires":[["1336f99f.17a586"]]},{"id":"6f0c75c7.81dca4","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1140,"wires":[["aebe49b7.a0a718"]]},{"id":"9cc14ff9.88719","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Playlist 6","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Playlist 6"},{"property":"icon","value":""}],"entityid":"input_select.playlist","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"4z0jillfj0b","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playlist6"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":1140,"wires":[["6f0c75c7.81dca4"],[]]},{"id":"c60122f1.30ad28","type":"http request","z":"30e97a35.0a0ad6","name":"Petronella: Band 6","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/playlist/Petronella: Band 6","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":1200,"wires":[[]]},{"id":"91cc2553.bf628","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1200,"wires":[["c60122f1.30ad28"]]},{"id":"b1652c9e.0e3e58","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1200,"wires":[["91cc2553.bf628"]]},{"id":"d51cfff7.ba325","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Playlist 7","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Playlist 7"},{"property":"icon","value":""}],"entityid":"input_select.playlist","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"cu804n2knz9","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playlist7"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":1200,"wires":[["b1652c9e.0e3e58"],[]]},{"id":"2d632517.966ee2","type":"http request","z":"30e97a35.0a0ad6","name":"Petronella: Band 4","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/playlist/Petronella: Band 4","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":1260,"wires":[[]]},{"id":"7f599f99.3371c8","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1260,"wires":[["2d632517.966ee2"]]},{"id":"f366d054.0433b8","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1260,"wires":[["7f599f99.3371c8"]]},{"id":"c0a9a07a.dd299","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Playlist 8","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Playlist 8"},{"property":"icon","value":""}],"entityid":"input_select.playlist","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"re97quleej","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playlist8"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":1260,"wires":[["f366d054.0433b8"],[]]},{"id":"17bed40a.12762c","type":"http request","z":"30e97a35.0a0ad6","name":"Petronella: Zauberschlaf und Knallfroschchaos","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/playlist/Petronella: Zauberschlaf und Knallfroschchaos","tls":"","persist":false,"proxy":"","authType":"","x":900,"y":840,"wires":[[]]},{"id":"d3548bdf.6b4fe8","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":840,"wires":[["17bed40a.12762c"]]},{"id":"b63b130d.39d46","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":840,"wires":[["d3548bdf.6b4fe8"]]},{"id":"cf9c2c65.787d8","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Playlist 1","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Playlist 1"},{"property":"icon","value":""}],"entityid":"input_select.playlist","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"3ugc9z0kl2d","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playlist1"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":840,"wires":[["b63b130d.39d46"],[]]},{"id":"93a07a16.2fd4e","type":"http request","z":"30e97a35.0a0ad6","name":"Petronella: Schneeballschlacht und Wichtelstreiche","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/playlist/Petronella: Schneeballschlacht und Wichtelstreiche","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":900,"wires":[[]]},{"id":"a52bb808.f05f08","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":900,"wires":[["93a07a16.2fd4e"]]},{"id":"2d772f85.f5ba1","type":"http request","z":"30e97a35.0a0ad6","name":"Petronella: Band 7","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/playlist/Petronella: Band 7","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":1320,"wires":[[]]},{"id":"4b8f0ebb.478ee","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1320,"wires":[["2d772f85.f5ba1"]]},{"id":"ded98388.68cda","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1320,"wires":[["4b8f0ebb.478ee"]]},{"id":"455dbba.8f6c6c4","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Playlist 9","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Playlist 9"},{"property":"icon","value":""}],"entityid":"input_select.playlist","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"5hwk5p0enr8","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playlist9"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":1320,"wires":[["ded98388.68cda"],[]]},{"id":"eaf9c677.af2958","type":"http request","z":"30e97a35.0a0ad6","name":"Petronella: Band 5","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/playlist/Petronella: Band 5","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":1380,"wires":[[]]},{"id":"d9f4f506.0482b","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1380,"wires":[["eaf9c677.af2958"]]},{"id":"23aa6d6b.4ffc4a","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1380,"wires":[["d9f4f506.0482b"]]},{"id":"504cddf9.aed0bc","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Playlist 10","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Playlist 10"},{"property":"icon","value":""}],"entityid":"input_select.playlist","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"dumoq50m4i6","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playlist10"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":130,"y":1380,"wires":[["23aa6d6b.4ffc4a"],[]]},{"id":"9caef793.e1fc58","type":"http request","z":"30e97a35.0a0ad6","name":"Petronella: Erdbeerbeet","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/playlist/Petronella: Erdbeerbeet","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":1440,"wires":[[]]},{"id":"3f9c6d20.5a4592","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1440,"wires":[["9caef793.e1fc58"]]},{"id":"d90d5.4178272b8","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1440,"wires":[["3f9c6d20.5a4592"]]},{"id":"56c12e63.745d18","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Playlist 11","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Playlist 11"},{"property":"icon","value":""}],"entityid":"input_select.playlist","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"zu007p56zpb","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playlist11"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":130,"y":1440,"wires":[["d90d5.4178272b8"],[]]},{"id":"fb87b168.14ec","type":"http request","z":"30e97a35.0a0ad6","name":"Deutschpop","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/playlist/Deutschpop","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":1500,"wires":[[]]},{"id":"356ec727.f5b48","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle ON","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/shuffle/on","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1500,"wires":[["fb87b168.14ec"]]},{"id":"e7536fa.c692d1","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1500,"wires":[["356ec727.f5b48"]]},{"id":"f4b161cd.33e418","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Playlist 12","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Playlist 12"},{"property":"icon","value":""}],"entityid":"input_select.playlist","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"wtv5l1dxowm","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playlist12"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":130,"y":1500,"wires":[["e7536fa.c692d1"],[]]},{"id":"ea275689.304ad","type":"http request","z":"30e97a35.0a0ad6","name":"Next","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/next","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":260,"wires":[[]]},{"id":"8b10cc93.2e862","type":"http request","z":"30e97a35.0a0ad6","name":"Previous","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/previous","tls":"","persist":false,"proxy":"","authType":"","x":1020,"y":300,"wires":[[]]},{"id":"e92aa78a.c37a6","type":"http request","z":"30e97a35.0a0ad6","name":"Play/Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/playpause","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":180,"wires":[[]]},{"id":"aa0d5ec9.f3d1c8","type":"http request","z":"30e97a35.0a0ad6","name":"Volume +2","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/volume/+2","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":100,"wires":[[]]},{"id":"607934a6.73b93c","type":"http request","z":"30e97a35.0a0ad6","name":"Volume -2","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/volume/-2","tls":"","persist":false,"proxy":"","authType":"","x":1020,"y":140,"wires":[[]]},{"id":"2d592062.746e4","type":"http request","z":"30e97a35.0a0ad6","name":"Leave from Kinderzimmer","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/leave","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":500,"wires":[[]]},{"id":"adb60aa7.6922c8","type":"http request","z":"30e97a35.0a0ad6","name":"Join to Kinderzimmer","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/join/kinderzimmer","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":460,"wires":[[]]},{"id":"3294ef41.4c686","type":"comment","z":"30e97a35.0a0ad6","name":"Scripts for SONOS","info":"","x":150,"y":400,"wires":[]},{"id":"ad2aa98c.70d48","type":"api-call-service","z":"30e97a35.0a0ad6","name":"Select: Playlist 12","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.playlist","data":"{\"option\":\"playlist12\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":true,"x":1050,"y":340,"wires":[[]]},{"id":"a6f2dcea.956b88","type":"api-call-service","z":"30e97a35.0a0ad6","name":"Select Previous Playlist","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_previous","entityId":"input_select.playlist","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1070,"y":220,"wires":[[]]},{"id":"979e622f.0b15a8","type":"http request","z":"30e97a35.0a0ad6","name":"Join to Wohnzimmer","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/join/wohnzimmer","tls":"","persist":false,"proxy":"","authType":"","x":1000,"y":460,"wires":[[]]},{"id":"c82d06df.79ab3","type":"http request","z":"30e97a35.0a0ad6","name":"Leave from Wohnzimmer","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/leave","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":500,"wires":[[]]},{"id":"b8e8bd48.3bf82","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Join to Kinderzimmer","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"script.1592136069010","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ig7oamjimbc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":160,"y":460,"wires":[["adb60aa7.6922c8"],[]]},{"id":"e1760fc.e1463f","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Leave from Kinderzimmer","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"script.1592136116754","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ig7oamjimbc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":500,"wires":[["2d592062.746e4"],[]]},{"id":"c4c4f40c.bf2ce8","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Join to Wohnzimmer","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"script.1592136085615","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ig7oamjimbc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":740,"y":460,"wires":[["979e622f.0b15a8"],[]]},{"id":"33a35ed4.09f8ca","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Leave from Wohnzimmer","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"script.1592136105312","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ig7oamjimbc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":750,"y":500,"wires":[["c82d06df.79ab3"],[]]},{"id":"69676d4f.245304","type":"http request","z":"30e97a35.0a0ad6","name":"Wohnzimmer: Volume+","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/volume/+2","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":540,"wires":[[]]},{"id":"694627ad.b6337","type":"http request","z":"30e97a35.0a0ad6","name":"Wohnzimmer: Volume-","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/volume/-2","tls":"","persist":false,"proxy":"","authType":"","x":1000,"y":580,"wires":[[]]},{"id":"a83da729.e23c7","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Wohnzimmer: Volume+","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"script.1592139457354","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ig7oamjimbc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":750,"y":540,"wires":[["69676d4f.245304"],[]]},{"id":"b8392f10.0d4df8","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Wohnzimmer: Volume-","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"script.1592139479886","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ig7oamjimbc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":740,"y":580,"wires":[["694627ad.b6337"],[]]},{"id":"5303fb6f.93d2d4","type":"http request","z":"30e97a35.0a0ad6","name":"Wohnzimmer: Play/Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/playpause","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":620,"wires":[[]]},{"id":"b17eb392.b87108","type":"http request","z":"30e97a35.0a0ad6","name":"Wohnzimmer: Next","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/next","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":660,"wires":[[]]},{"id":"2644891c.ae7496","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Wohnzimmer: Play/Pause","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"script.1592139499338","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ig7oamjimbc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":750,"y":620,"wires":[["5303fb6f.93d2d4"],[]]},{"id":"1a6e9a01.d9201e","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Wohnzimmer: Next","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"script.1592139519237","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ig7oamjimbc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":730,"y":660,"wires":[["b17eb392.b87108"],[]]},{"id":"e66f2ca5.ca4aa8","type":"http request","z":"30e97a35.0a0ad6","name":"Wohnzimmer: Previous","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/previous","tls":"","persist":false,"proxy":"","authType":"","x":1000,"y":700,"wires":[[]]},{"id":"c318a6ea.91f66","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Wohnzimmer: Previous","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"script.1592139529787","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ig7oamjimbc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":740,"y":700,"wires":[["e66f2ca5.ca4aa8"],[]]},{"id":"bee30465.e6cbd8","type":"http request","z":"30e97a35.0a0ad6","name":"Kinderzimmer: Volume+","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/volume/+2","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":540,"wires":[[]]},{"id":"611840cb.794d","type":"http request","z":"30e97a35.0a0ad6","name":"Kinderzimmer: Volume-","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/volume/-2","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":580,"wires":[[]]},{"id":"9dad857c.7240a8","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Kinderzimmer: Volume+","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"script.1592139458354","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ig7oamjimbc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":540,"wires":[["bee30465.e6cbd8"],[]]},{"id":"d8be0db7.ea1e4","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Kinderzimmer: Volume-","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"script.1592139470886","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ig7oamjimbc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":580,"wires":[["611840cb.794d"],[]]},{"id":"47013d91.d422cc","type":"http request","z":"30e97a35.0a0ad6","name":"Kinderzimmer: Play/Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/playpause","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":620,"wires":[[]]},{"id":"76f2a3ec.31c924","type":"http request","z":"30e97a35.0a0ad6","name":"Kinderzimmer: Next","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/next","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":660,"wires":[[]]},{"id":"3d87c687.5b3be2","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Kinderzimmer: Play/Pause","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"script.1592139490338","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ig7oamjimbc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":180,"y":620,"wires":[["47013d91.d422cc"],[]]},{"id":"8ab02f93.085eb8","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Kinderzimmer: Next","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"script.1592139516237","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ig7oamjimbc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":160,"y":660,"wires":[["76f2a3ec.31c924"],[]]},{"id":"807be1d3.a1ec6","type":"http request","z":"30e97a35.0a0ad6","name":"Kinderzimmer: Previous","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/kinderzimmer/previous","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":700,"wires":[[]]},{"id":"8200dc48.945cd","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Kinderzimmer: Previous","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"script.1592139525787","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ig7oamjimbc","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":700,"wires":[["807be1d3.a1ec6"],[]]},{"id":"955f2ed.0187ed","type":"comment","z":"30e97a35.0a0ad6","name":"Radio - SONOS Wohnzimmer","info":"","x":180,"y":1600,"wires":[]},{"id":"e7b00913.b459a","type":"http request","z":"30e97a35.0a0ad6","name":"Acoustic Chill","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/favorite/Acoustic Chill","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":1660,"wires":[[]]},{"id":"cc80646f.0f4ad8","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1660,"wires":[["e7b00913.b459a"]]},{"id":"257ab1aa.033476","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1660,"wires":[["cc80646f.0f4ad8"]]},{"id":"432720ee.d3cd58","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Radio 1","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Radio 1"},{"property":"icon","value":""}],"entityid":"input_select.radio","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"6ex6fdmw5xp","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"radio1"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":1660,"wires":[["257ab1aa.033476"],[]]},{"id":"ed6e0948.9a2c88","type":"http request","z":"30e97a35.0a0ad6","name":"Chart Hits","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/favorite/Chart Hits","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":1720,"wires":[[]]},{"id":"ce13e61c.5bee3","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1720,"wires":[["ed6e0948.9a2c88"]]},{"id":"aef09d77.4476d8","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1720,"wires":[["ce13e61c.5bee3"]]},{"id":"cac033b1.ad4758","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Radio 2","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Radio 2"},{"property":"icon","value":""}],"entityid":"input_select.radio","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"hfgekhyz4zu","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"radio2"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":1720,"wires":[["aef09d77.4476d8"],[]]},{"id":"e310d1.77f7cf3","type":"http request","z":"30e97a35.0a0ad6","name":"Chill","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/favorite/Chill","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":1780,"wires":[[]]},{"id":"64208da1.3fe724","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1780,"wires":[["e310d1.77f7cf3"]]},{"id":"ada2b52.7f65f48","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1780,"wires":[["64208da1.3fe724"]]},{"id":"bfc8b298.f58668","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Radio 3","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Radio 3"},{"property":"icon","value":""}],"entityid":"input_select.radio","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"8l86wh98s8","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"radio3"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":1780,"wires":[["ada2b52.7f65f48"],[]]},{"id":"8d1f183b.494548","type":"http request","z":"30e97a35.0a0ad6","name":"Classical Chill","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/favorite/Classical Chill","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":1840,"wires":[[]]},{"id":"a1b2df6b.8ba1a","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1840,"wires":[["8d1f183b.494548"]]},{"id":"4064abe1.be3f8c","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1840,"wires":[["a1b2df6b.8ba1a"]]},{"id":"d4ba9cb3.ff35e8","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Radio 4","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Radio 4"},{"property":"icon","value":""}],"entityid":"input_select.radio","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"tagsvp30s","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"radio4"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":1840,"wires":[["4064abe1.be3f8c"],[]]},{"id":"6a618bd3.ff9d4c","type":"http request","z":"30e97a35.0a0ad6","name":"Dance","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/favorite/Dance","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":1900,"wires":[[]]},{"id":"d734cfad.fff94","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1900,"wires":[["6a618bd3.ff9d4c"]]},{"id":"56f70ad.f34cf74","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1900,"wires":[["d734cfad.fff94"]]},{"id":"554115c1.3d2f54","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Radio 5","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Radio 5"},{"property":"icon","value":""}],"entityid":"input_select.radio","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"f0m2g0nxb4m","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"radio5"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":1900,"wires":[["56f70ad.f34cf74"],[]]},{"id":"c7597433.fad28","type":"http request","z":"30e97a35.0a0ad6","name":"Einfach nur Klavier","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/favorite/Einfach nur Klavier","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":1960,"wires":[[]]},{"id":"53fa0bd0.c6dbec","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":1960,"wires":[["c7597433.fad28"]]},{"id":"6e4be8b5.74b8","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":1960,"wires":[["53fa0bd0.c6dbec"]]},{"id":"223163cb.c3692c","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Radio 6","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Radio 6"},{"property":"icon","value":""}],"entityid":"input_select.radio","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"suvby8yv8q","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"radio6"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":1960,"wires":[["6e4be8b5.74b8"],[]]},{"id":"4a287021.eda7d8","type":"http request","z":"30e97a35.0a0ad6","name":"Happy Hits","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/favorite/Happy Hits","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":2020,"wires":[[]]},{"id":"e58ca7d7.c79b5","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":2020,"wires":[["4a287021.eda7d8"]]},{"id":"ab8bf7d2.367d48","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":2020,"wires":[["e58ca7d7.c79b5"]]},{"id":"21bb993b.7e91d6","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Radio 7","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Radio 7"},{"property":"icon","value":""}],"entityid":"input_select.radio","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"oemqmz5gcnl","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"radio7"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":2020,"wires":[["ab8bf7d2.367d48"],[]]},{"id":"c769a42d.fdf108","type":"http request","z":"30e97a35.0a0ad6","name":"Lounge","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/favorite/Lounge","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":2080,"wires":[[]]},{"id":"484d6a0b.ef27b4","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":2080,"wires":[["c769a42d.fdf108"]]},{"id":"9af30ae7.8f0068","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":2080,"wires":[["484d6a0b.ef27b4"]]},{"id":"17b55aab.be4455","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Radio 8","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Radio 8"},{"property":"icon","value":""}],"entityid":"input_select.radio","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"46nqj60jsv8","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"radio8"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":2080,"wires":[["9af30ae7.8f0068"],[]]},{"id":"f0051b6c.b7da8","type":"http request","z":"30e97a35.0a0ad6","name":"Piano Chill","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/favorite/Piano Chill","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":2140,"wires":[[]]},{"id":"2c6c947d.ab4c64","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":2140,"wires":[["f0051b6c.b7da8"]]},{"id":"707c4482.3c77d4","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":2140,"wires":[["2c6c947d.ab4c64"]]},{"id":"19ab9b98.3381e4","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Radio 9","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Radio 9"},{"property":"icon","value":""}],"entityid":"input_select.radio","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"1akfvkaqfq2","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"radio9"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":2140,"wires":[["707c4482.3c77d4"],[]]},{"id":"aa520f38.aad788","type":"http request","z":"30e97a35.0a0ad6","name":"Pure Workout","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/favorite/Pure Workout","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":2200,"wires":[[]]},{"id":"4e0fb6ea.b8aba8","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":2200,"wires":[["aa520f38.aad788"]]},{"id":"917542f1.291f9","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":2200,"wires":[["4e0fb6ea.b8aba8"]]},{"id":"793036ba.1cf208","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Radio 10","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Radio 10"},{"property":"icon","value":""}],"entityid":"input_select.radio","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"tzqzduifvp","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"10"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":2200,"wires":[["917542f1.291f9"],[]]},{"id":"7f964a3c.bf9854","type":"http request","z":"30e97a35.0a0ad6","name":"Wake Me Up!","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/favorite/Wake Me Up!","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":2260,"wires":[[]]},{"id":"ac61aec1.6238b","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":2260,"wires":[["7f964a3c.bf9854"]]},{"id":"cb1815af.acf298","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":2260,"wires":[["ac61aec1.6238b"]]},{"id":"d6f6e02e.d79438","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Radio 11","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Radio 11"},{"property":"icon","value":""}],"entityid":"input_select.radio","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"8g6btnrgfyx","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"radio11"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":2260,"wires":[["cb1815af.acf298"],[]]},{"id":"e423afdf.a088e8","type":"http request","z":"30e97a35.0a0ad6","name":"Pop der 1990er","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/favorite/Pop der 1990er","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":2320,"wires":[[]]},{"id":"af9f0f1f.07e7e","type":"http request","z":"30e97a35.0a0ad6","name":"Shuffle OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/shuffle/off","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":2320,"wires":[["e423afdf.a088e8"]]},{"id":"f41a2402.1c3408","type":"http request","z":"30e97a35.0a0ad6","name":"Pause","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.178.169:5005/wohnzimmer/pause","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":2320,"wires":[["af9f0f1f.07e7e"]]},{"id":"7adcadb4.36cf5c","type":"trigger-state","z":"30e97a35.0a0ad6","name":"Radio 12","exposeToHomeAssistant":true,"haConfig":[{"property":"name","value":"Radio 12"},{"property":"icon","value":""}],"entityid":"input_select.radio","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"u1dpg6k1zwg","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"radio12"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":2320,"wires":[["f41a2402.1c3408"],[]]}]
